.widget {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        background-color: rgba(155, 170, 175, 0.12);
        font-size: 14px;
        color: #979797;
        font-style: italic;

    }
}